
#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#semaforo{
    width: 50%;
    background-color: black;
    color: white;
}
.semaforo {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;

  }

 

  button{
    margin: 5%;
  }
